<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
<label for="name"> Nombre del antiheroe: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name"> 
</div>
<div>
  <label for="edad"> Edad del antiheroe: </label>
  <input id="edad" [(ngModel)]="hero.edad" placeholder="edad"> 
</div>
<div>
  <label for="tippoder"> Tipo de poder: </label>
  <input id="tippoder" [(ngModel)]="hero.tippoder" placeholder="tippoder"> 
</div>
<div>
  <label for="identidad"> Identidad: </label>
  <input id="identidad" [(ngModel)]="hero.identidad" placeholder="identidad"> 
</div>
<div>
  <label for="universo"> Universo: </label>
  <input id="universo" [(ngModel)]="hero.universo" placeholder="universo"> 
</div>